<!-- navbar  -->
<section>
  <nav class="navbar navbar-expand-lg navbar-light px-2">
    <a class="navbar-brand px-4" href="#">
      <!-- <img src="https://img.icons8.com/fluency/48/000000/vision.png" alt="" /> -->
      Examport
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <p class="navbar-toggler-icon"></p>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Exams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact us</a>
        </li>
      </ul>
    </div>
  </nav>
</section>
