<app-navbar></app-navbar>
<section class="profile-section">
  <div class="row m-0">
    <div class="col-4">
      <div class="profile">
        <div class="profile-header">
          <p>Basic Profile</p>
          <button class="btn btn-outline-secondary btn-sm">Edit Profile</button>
        </div>
        <hr />
        <div class="info">
          <div class="row">
            <div class="col-4">
              <div class="user-image">
                <img
                  src="https://assets.leetcode.com/users/Krishan_here/avatar_1625037474.png"
                  alt="profile"
                />
              </div>
            </div>
            <div class="col-8">
              <div class="user-data">
                <h3>Krishan Murari</h3>
                <p>iamkrishan</p>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-star-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                  />
                </svg>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-star-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                  />
                </svg>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-star-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                  />
                </svg>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-star-fill not-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                  />
                </svg>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-star-fill not-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                  />
                </svg>
              </div>
            </div>
          </div>
          <hr />
          <div class="info-item row">
            <div class="col-3">
              <p>College</p>
            </div>
            <div class="col-9">
              <p>Acropolis Institute of Technology & Research</p>
            </div>
          </div>
          <hr />
          <div class="info-item row">
            <div class="col-3">
              <p>Branch</p>
            </div>
            <div class="col-9">
              <p>Computer Science & Engineering</p>
            </div>
          </div>
          <hr />
          <div class="info-item row">
            <div class="col-3">
              <p>Enrollment</p>
            </div>
            <div class="col-9">
              <p>0827CS191130</p>
            </div>
          </div>
          <hr />
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="other-things">other-things</div>
    </div>
  </div>
</section>
