<section class="nav-section">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="">examport</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="custom-collapse" id="navbarSupportedContent">
      <div class="custom-nav-items">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#feature">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#faq">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Contact us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>
<section class="hero">
  <div class="row">
    <div class="col">
      <div class="hero-title">
        WE TAKE CARE OF YOUR EXAM.
        <p>
          Online Proctoring With AI-Powered Tools To Conduct Secure Virtual
          Exams
        </p>
      </div>
      <div class="buttons">
        <button class="btn btn-outline-light btn-lg" routerLink="/login">
          Login
        </button>
      </div>
    </div>
    <div class="col">
      <div class="image">
        <img src="../../../assets/images/Search_SVG.svg" alt="frontImg" />
      </div>
    </div>
  </div>
</section>

<section id="about" class="about-section">
  <div class="title">
    <h2>About us</h2>
    <p>
      Our Suite of Online Proctoring Services Ensures Cheating-Free Online Exams
    </p>
  </div>
  <div class="about">
    <div class="row p-3 my-5">
      <div class="col">
        <div class="content">
          <h3>Our Mission</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum ex
            corporis ducimus possimus molestiae maiores omnis! Eveniet maiores
            et cum qui, quae eaque? Ex, odit odio. Voluptatum nihil amet
            molestias?
          </p>
        </div>
      </div>
      <div class="col">
        <div class="image">
          <img src="assets/images/target.png" alt="mission" />
        </div>
      </div>
    </div>
    <div class="row p-3 my-5">
      <div class="col">
        <div class="image">
          <img src="assets/images/telescope.png" alt="vision" />
        </div>
      </div>
      <div class="col">
        <div class="content">
          <h3>Our Vision</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum ex
            corporis ducimus possimus molestiae maiores omnis! Eveniet maiores
            et cum qui, quae eaque? Ex, odit odio. Voluptatum nihil amet
            molestias?
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="feature" class="features">
  <div class="title">
    <h2>Features</h2>
    <p>
      Our Suite of Online Proctoring Services Ensures Cheating-Free Online Exams
    </p>
  </div>
  <div class="row my-5">
    <div class="col">
      <div class="feature-item text-center p-4">
        <img src="assets/images/Student-authentication-1.svg" alt="auth" />
        <h4>Student Authentication</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam sit
          sint explicabo excepturi illum sapiente repellendus suscipit quis a
          vero.
        </p>
      </div>
    </div>
    <div class="col">
      <div class="feature-item text-center p-4">
        <img src="assets/images/Remote-proctoring-1.svg" alt="auth" />
        <h4>Proctoring Technology</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam sit
          sint explicabo excepturi illum sapiente repellendus suscipit quis a
          vero.
        </p>
      </div>
    </div>
    <div class="col">
      <div class="feature-item text-center p-4">
        <img src="assets/images/Secure-Browser-1.svg" alt="auth" />
        <h4>Secure Exam Browser</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam sit
          sint explicabo excepturi illum sapiente repellendus suscipit quis a
          vero.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="faq" class="faq-section">
  <div class="title">
    <h2>FAQs</h2>
    <p>We are curious to pick your doubts, please ask</p>
  </div>
  <div class="faq">
    <div class="row m-0">
      <div class="col">
        <div class="image">
          <img src="assets/images/question.svg" alt="doubts" />
        </div>
      </div>
      <div class="col">
        <div class="content">
          <div class="table">
            <div class="question">What is Proctoring?</div>
            <div class="question">How it's gona work?</div>
            <div class="question">Software requirements?</div>
            <div class="question">Is this compatible in all device?</div>
            <div class="question">Can I get a free trial?</div>
          </div>
          <!-- <div class="custom-btn">
            <button class="p-2">Ask here</button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="footer-section">
  <div class="footer"></div>
</section>
